---
import { ScrollProgress } from '@/components/scroll-progress';
import ProjectDetailsSection from '@/components/sections/project-details.astro';
import ProjectRecommendationsSection from '@/components/sections/project-recommendations.astro';
import Layout from 'src/layouts/layout.astro';
import { getProjects } from '@/lib/strapi/get-projects';
import { imageUrlFor } from '@/lib/strapi/sanity-image';

// export const prerender = true;

export async function getStaticPaths() {
  // Fetch the projects data
  const projects = await getProjects();
  console.log(projects); // Log the structure of 'projects' to debug

  // Ensure projects.data is an array and map over it
  const projectsData = Array.isArray(projects.data) ? projects.data : [];

  return projectsData.map((project: any) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}

type Props = {
  project: any;
};

const { project } = Astro.props;

// Open Graph Image logic
const openGraphImage = {
  src: project.poster?.asset?._ref
    ? imageUrlFor(project.poster).width(1200).height(630).fit('crop').url()
    : '/fallback-image.jpg', // Fallback image URL
  alt: project.poster?.alt || 'Fallback Image', // Default alt text
};
---

<Layout
  title={`${project.name} ― Projects`}
  description={project.description}
  openGraphImage={openGraphImage}
>
  <ScrollProgress client:idle />
  <main id="main">
    <ProjectDetailsSection project={project} />
    <ProjectRecommendationsSection project={project} />
  </main>
</Layout>
